@font-face {
  font-family: fragmentcore;
  src: url("../fonts/Fragmentcore.otf") format("truetype");
}

@font-face {
  font-family: pickle;
  src: url("../fonts/cutepickle.ttf") format("truetype");
}

body {
  font-family: fragmentcore;
}

h1 {
  font-size: 3em;
}

.header {
  background: #dddddd;
  padding: 10%;
}

.header h1 {
  text-align: center;
}

.navbar {
  font-family: pickle;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  background-color: #999999;
  color: white;
  width: 100%;
}

.navbar li {
  list-style: none;
  display: block;
  float: left;
  margin-right: 20px;
}
